@charset "utf-8";

/*
Versão: 0.1
Autor:André
Data: 08/12/2015
*/

body{
    text-align: justify;
}


h1, h2{
    text-align: center;
    color:orange;
}
a{
    color:#FF8C00;
}

a:hover{
    color:#708090;
}


img{
    padding: 0.2em;
    
}

p{
    padding: 1.0em;
}
