@charset="UTF-8";

html, body {
	background-image: url('../images/hq-bg1.jpg');
}

h2.hq-tittlea{
    color: #000000;
    font-size: 25px;
    margin-top: 0px;
}

h5.hq-texto{
	color: #000000;
	font-size: 25px;
	margin-top: 0px;
}

.hq-container{
	margin: 1%;
	height: 100px;
}