@charset="UTF-8";

html, body{
	margin: 0 !important; 
	padding: 0 !important;
}

img{
	margin: .6em 0
}

.featured-section-movies{
	background-color: #16A086;
}

p {
	font-family: 'Lato', 'Verdana', sans-serif;
}

div.spaced{
	margin: 0 0 4% 0;
}

.footer-bottom{
	margin-bottom: 0 !important;
}

#em-breve{ border-bottom-style: groove;
}

.fonteb{ color: white;
}

#criticas{
         border-right-style: groove;
}
