@charset="UTF-8";

.title-music-page {
	margin-top: -.5%;
	font-size: 18px;
	font-family: 'Lato', 'Verdana', sans-serif;
	color: #FFFFFF;
}

.tv-title {
	color: black;
    text-decoration: none;

}

.tv-container {
	border-bottom: 2px solid black;
	width: 95%;
	margin-bottom: 1%;
}

html, body {
/*	background-image: url('../images/musica-background.jpg');*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}



a.tv-title{
	text-decoration: none;
	color:black;
}
 
 h3.news {
	padding: 5px;
	color: #454545 ;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;

}


h2.destaque {		
	font-size: 20px;	
}

/*
.houver:hover{
    font-size: 24px;      	
	   }

.houver-1:hover{
  	font-size: 38px;
      	
	   }
.houver-2:hover{
  	font-size: 28px;
      	
	   }
*/
